{{template "base" .}}

{{define "title"}}Movies #{{.Movies.ID}}{{end}}

{{define "main"}}
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

    {{with .Movies}}
    <div class='movies'>

        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>

        <div class='metadata'>
            {{with .Original_title}}
                <p>Original title: {{.}} </p>
            {{end}}
        </div>


        <div class='metadata'>
                <p>Genre: {{.Genre}} </p>
        </div>

         <div class='metadata'>
                   <time>Released year and Runtime: {{humanDate .Released_year}}</time>
         </div>


         <div class='metadata'>
                <span>
                  {{ if .Released_status }}
                    Released on and duration {{humanDate .Released_year }}
                  {{ else }}
                    Not yet released.
                  {{ end }}
                </span>
         </div>

        <pre style="white-space: pre-wrap;"><code>{{.Synopsis}}</code></pre>

        <div class='metadata'>
                <p>Rating: {{.Rating}} </p>
        </div>

        <div class='metadata'>
                <p>Director: {{.Director}} </p>
        </div>

        <div class='metadata'>
                    {{with .Cast}}
                        <p>Cast: {{.}} </p>
                    {{end}}
        </div>

        <div class='metadata'>
                <p>Distributor: {{.Distributor}} </p>
        </div>


        </div>

    {{end}}

{{end}}
